################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoAzureActiveDirectory/bin/Debug/net8.0
/DemoAzureActiveDirectory/obj
/.vs/DemoAzureActiveDirectory
